$primaire:#4e4e4e;
$tertiaire:#F7F5F2;
$primaire_be:#807e7e;
$secondaire:#db945e;
$vert:#94a66f;
$fotsy:white;
$fond:#0e0e0e;
$fanampiny:#FF944D;
$fanampiny-matsatso:#a3600d;
$bleu:#001c31;
$mangakely:rgb(89, 176, 202);
$formulaire:#016e75;
$orange:#f58813;
$orange-kely:#eba61c;
$ambony:#017bc6;
$ambany:#029859;
$gris: #232f3f;
$gris-claire:lighten($color: $primaire, $amount: 20);
$claire:lighten($color: $primaire, $amount: 45);
$grise :darken($color : $gris-claire , $amount: 10);


