
@font-face{
    font-family: vaovao;
    src: url(../../fontawesome-free-6.4.0-web/Nouveaufont/MarckScript-Regular.ttf);
}
@font-face{
    font-family: gruppo;
    src: url(../../fontawesome-free-6.4.0-web/Nouveaufont/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: bel;
    src: url(../../fontawesome-free-6.4.0-web/Nouveaufont/Righteous-Regular.ttf);
}
@font-face{
    font-family: diplomata;
    src: url(../../fontawesome-free-6.4.0-web/Nouveaufont/DiplomataSC-Regular.ttf);
}
@font-face{
    font-family:lobster;
    src: url(../../fontawesome-free-6.4.0-web/Nouveaufont/Lobster-Regular.ttf);
}
@font-face{
    font-family:gruppo2;
    src: url(../../fontawesome-free-6.4.0-web/Nouveaufont/Gruppo-Regular.ttf);
}
@font-face{
    font-family:luky;
    src: url(../../fontawesome-free-6.4.0-web/Nouveaufont/LuckiestGuy-Regular.ttf);
}
@font-face {
    font-family: pacifico;
    src: url(../../fontawesome-free-6.4.0-web/Nouveaufont/Pacifico-Regular.ttf);
}
@font-face{
    font-family: cinzel;
    src: url(../../fontawesome-free-6.4.0-web/Nouveaufont/Cinzel/Cinzel-VariableFont_wght.ttf);
}
@font-face {
    font-family:kaushan;
    src: url(../../fontawesome-free-6.4.0-web/Nouveaufont/Kaushan_Script/KaushanScript-Regular.ttf);
}
@font-face {
    font-family: ley;
    src: url(../../fontawesome-free-6.4.0-web/Nouveaufont/Qwigley-Regular.ttf);
}
@font-face {
    font-family:sed;
    src: url(../../fontawesome-free-6.4.0-web/Nouveaufont/SedgwickAveDisplay-Regular.ttf);
}
@font-face {
    font-family:nav;
    src: url(../../fontawesome-free-6.4.0-web/Nouveaufont/JosefinSans-Italic-VariableFont_wght.ttf);
}
